@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: bitterMedium;
    src: url('fonts/Bitter-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: bitterMedium;
}
/* 
.about-me {
    position: absolute;
    color: white;
    width: 25vw;
    height: 20vh;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.about-me-main {
    font-family: bitterMedium;
    font-size: 40px;
    line-height: 0;
    margin-top: 2vh;
}

.about-me-minor {
    font-family: bitterMedium;
    font-size: 25px;
    margin-top: 40px;
    overflow: wrap;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.icon {
    font-family: bitterMedium;
    font-size: 15px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    background-color: #5b2b29;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    border-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #fff;
    border-style: solid;
}
.icon:hover {
    /* background-color: #5b2b29; */
    
.icon:active{
    background-color: #804240;
}

#green-book-1{
    position: absolute;
    width: calc(80px);
    height: 26.272vh;
    /* left: calc(371px + 15.082vw); */
    left: calc(0.15082 * 1920px - (1920px - 100vw) / 2 + 80px);
    top: 39.223vh;
}

#green-book-1:hover{
    cursor: pointer;
} */

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #340e0e;
    /* border-radius: 3px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5b2b29;
    /* border-radius: 3px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #522422;
  }