@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: bitterMedium;
    src: url('fonts/Bitter-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: bitterMedium;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #340e0e;
    /* border-radius: 3px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5b2b29;
    /* border-radius: 3px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #522422;
  }